body{
  background-color: #000000;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #19556E;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

nav{
  grid-column: span 9;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li{
  display: inline-block;
}

nav a{
  display: block;
  padding: 1em;
  background-color: #9D4B59;
  color: #ffffff;
  text-decoration: none;
  font: normal normal 24px Helvetica, Arial, sans-serif;
  margin: 0 36px 0 0;
  text-align: center;
  font-family: 'Mochiy Pop P One', sans-serif;
  box-shadow: 5px 5px 10px #000;
  border-radius: 10px 10px 10px 0px;
  transition: background-color 1.0s, box-shadow 1.0s;
}

nav a:hover{
  background-color: #6D1B56;
  box-shadow: 10px 10px 10px #000;
}

div{
  grid-column: span 3;
}

img{
  border-radius: 500px;
}

.pics{
  border-radius: 0;
}

.Photo{
  grid-column: span 6;
}

.Booking{
  background-image: none;
  background-color: #9D4B59;
  grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 24px;
}

.Other{
  background-image: none;
  grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
}

.Family{
  background-image: none;
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 24px;
}

main{
  background-image: url(../Assignment7/Howl.jpg);
  grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 24px;
}

main h1{
  color: #ffffff;
  font: normal bold 144px Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 24px;
  grid-column: span 3;
  font-family: 'Mochiy Pop P One', sans-serif;
}

.Games{
  color: #ffffff;
  font: normal bold 100px Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 24px;
  grid-column: span 3;
  font-family: 'Mochiy Pop P One', sans-serif;
}

.Book{
  color: #ffffff;
  font: normal bold 48px Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 24px;
  grid-column: span 4;
  font-family: 'Mochiy Pop P One', sans-serif;
}

.fam{
  color: #ffffff;
  font: normal bold 48px Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 24px;
  grid-column: span 6;
  font-family: 'Mochiy Pop P One', sans-serif;
}

.carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 600px;
  margin-right: 20px;

  background-color: #19556E;
}

.caption{
  font: normal normal 12px Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
}

.novels{
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-column: span 4;
  text-align: center;
  color: #19556E;
  font: normal normal 24px Helvetica, Arial, sans-serif;
  font-family: 'Mochiy Pop P One', sans-serif;
}

.novels li{
  display: inline-block;
  background-color: #ffffff;
  margin: 12px;
  padding: 24px;
  text-align: center;
}

article{
  background-color: #9D4B59;
  margin: 12px;
  grid-column: span 2;
}

.excerpts1{
  background-color: #19556E;
  margin: 0;
  grid-column: span 2;
}

.excerpts{
  background-color: #19556E;
  margin: 0 0 24px 0;
  grid-column: span 2;
}

.excerpts2{
  background-color: #19556E;
  margin: 0;
  grid-column: span 4;
  width: 50%;
  margin-left: 612px;
}

.virtual{
  background-color: #9D4B59;
  margin: 12px;
  grid-column: span 3;
  width: 33%;
}

.physical{
  background-color: #9D4B59;
  margin: 12px;
  grid-column: span 3;
  width: 33%;
  margin-left: 400px;
}

.Info{
  background-color: #9D4B59;
  margin: 0;
  grid-column: span 2;
  margin-top: 12px;
}

article h2{
  text-align: center;
  font: normal normal 24px Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-family: 'Mochiy Pop P One', sans-serif;
}

p{
  margin: 6px;
  text-align: justify;
  font: normal normal 12px Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
}

.bold{
  font-weight: bold;
  color: #9D4B59;
}

footer{
  grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
  background-color: #ffffff;
  margin-top: 24px;
}

.Logo{
  grid-column: span 1;
}

footer aside{
  background-color: #9D4B59;
}

footer aside h2{
  text-align: center;
  font: normal normal 24px Helvetica, Arial, sans-serif;
  background-color: #9D4B59;
  color: #ffffff;
  font-family: 'Mochiy Pop P One', sans-serif;
}

footer a{
  padding: 24px;
  font-size: 28px;
  color: #19556E;
}
